<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <title>Wiki Maps</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/test.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>

    <script type="text/javascript" src="/vendor/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>


    <script src="https://maps.googleapis.com/maps/api/js?key=<%=MAP_API%>"></script>



  </head>

  <body>
    <h1>Wiki Maps</h1>
          <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

              <form action="api/users/register" method="POST" style="margin:50px;">
                <input id="username" type="username" name="username" placeholder="Enter Username" style="width: 150px">
                <input id="userEmail" type="email" name="email" placeholder="Enter email" style="width: 200px">
                <input id="regPassword" type="password" name="password" placeholder="Enter password" style="width: 150px">
                <input type="submit" value="Register">
              </form>
              <form action="api/users/login" method="POST" style="margin:50px;">
                <input id="userID" type="username" name="username" placeholder="Enter username" style="width: 150px">
                <input id="userPass" type="password" name="password" placeholder="Enter password" style="width: 150px">
                <input type="submit" value="Login">
              </form>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
        <div class="container-fluid" id="map-box">
          <div class="row align-items-center equal">
            <div class="col-md-2 well" id="left-col">

            </div>


              <div class="col-md-6 col-md-offset-1 well" id="map" class="img-responsive">

              </div>
            <div class="col-md-2 col-md-offset-1 well" id="right-col">
            </div>
          </div>
        </div>

      <footer class="footer">
        <div class="container">
          <p class="text-muted">Wiki Maps copyright TM...</p>
        </div>
      </footer>

  </body>
</html>
