<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <title>Wiki Maps</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/jquery.flash.css">
    <link rel="stylesheet" href="/styles/styles.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/vendor/jquery.flash.js"></script>
    <script type="text/javascript" src="/scripts/utils.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=MAP_API%>"></script>





  </head>

  <body>
    <header>
      <nav class="nav-bar">
        <div class="title">
          <h1>MapShare</h1>
        </div>
        <div class="forms">
            <!-- REGISTRATION FORM -->
          <form id="register-form" class="form" action="api/users/register" method="POST">
            <input class="username" type="name" name="username" placeholder="Enter Username">
            <input class="email" type="email" name="email" placeholder="Enter email (Optional)">
            <input class="password" type="password" name="password" placeholder="Enter password">
            <input type="submit" value="Register">
          </form>
            <!-- LOGIN FORM -->
          <form id="login-form" class="form" action="api/users/login" method="POST">
            <input class="username" type="name" name="username" placeholder="Enter username">
            <input class="password" type="password" name="password" placeholder="Enter password">
            <input type="submit" value="Login">
          </form>
            <!-- LOGOUT FORM -->
          <form id="logout-form" class="form" action="api/users/logout" method="POST">
            <input type="submit" value="Logout">
          </form>
        </div>
      </nav>
    </header>
        <div class="container-fluid" id="map-box">
          <div class="row align-items-center no-gutters">
            <div class="bar-left col-xs-2" id="left-col"></div>
            <!-- <div class="col-md-1"></div> -->
            <div class="col-xs-9 "" id="map"></div>
          </div>
        </div>
          <!-- <div class="row align-items-center">
            <div class="bar-left side-bar col-md-2" id="left-col"></div>
            <div class="col-md-8 col-md-offset-1" id="map" class="img-responsive"></div>
            <div class="bar-right side-bar col-md-2 col-md-offset-1" id="right-col">
            </div>
          </div> -->

      <footer class="footer-block">
        <div>
          <p class="footer-text">MapShare copyright 2017</p>
        </div>
      </footer>

  </body>
</html>
