<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="<%=GOOGLE_LOGIN%>.apps.googleusercontent.com">


    <title>Wiki Maps</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/test.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>

    <script type="text/javascript" src="/vendor/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/load-map.js"></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=MAP_API%>&callback=initMap" async defer></script>



  </head>

  <body>
    <h1>Wiki Maps</h1>
          <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <div class="g-signin2" data-onsuccess="onSignIn"></div>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
        <div class="container-fluid" id="map-box">
          <div class="row align-items-center equal">
            <div class="col-md-2 well" id="left-col">

            </div>


              <div class="col-md-6 col-md-offset-1 well" id="map">
                <!-- <img id="main-map" src="http://www.buzzhunt.co.uk/wp-content/2014/01/World-map-sizes.png" class="img-responsive"> -->
              </div>
            <div class="col-md-2 col-md-offset-1 well" id="right-col">
            </div>
          </div>
        </div>

      <footer class="footer">
        <div class="container">
          <p class="text-muted">Wiki Maps copyright TM...</p>
        </div>
      </footer>

  </body>
</html>
