body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/cc/e0/c7/cce0c7db236b5e269c7721de801bb8f7.jpg");
  background-position: center;
}

body h1 {
  color: #244751;
}

#map {
  height: 700px;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

nav.nav-bar {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #eee;
  border-radius: 5px;
  display: flex;
  margin: 10px 10px 20px 10px;
  max-height: 80px;
  min-height: 50px;
  padding-left: 10px;
  position: relative;
}

#login-form {
  float: right;
  margin: 5px;
}

#logout-form {
  float: right;
  margin: 5px;
}

#register-form {
  float: right;
  margin: 5px;
}

.email {
  width: 175px;
}

.forms {
  flex: 1;
}

.password {
  width: 125px;
}

.title {
  height: 80px;
  flex: 0 0 40%;
}

.username {
  width: 125px;
}

.footer-block {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #eee;
  border-radius: 5px 5px 0 0;
  bottom: 0px;
  height: 25px;
  left: 0px;
  position: fixed;
  width: 100%;
}

.footer-text {
  margin: 0 5px 10px;
  text-align: center;
}

.bar-left {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #eee;
  border-radius: 0 5px 5px 0;
}

.bar-right {
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #eee;
  border-radius: 5px 0px 0px 5px;
}
