body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/cc/e0/c7/cce0c7db236b5e269c7721de801bb8f7.jpg");
  background-position: center;
  height: 100vh;
  padding: 2vh;
}

#map {
  border-radius: 5px;
  height: 75vh;
  float: right;
  width: 80vw;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

header {
  height: 15%;
}

nav.nav-bar {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #eee;
  border-radius: 5px;
  height: 85%;
  margin: 10px 0 20px 0;
  padding: 0 10px;
  position: relative;
  top: 0px;
  left: 0px;
}

.logo-text {
  height: 100%;
}

.nav-buttons {
  right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-butt {
  background-color: #eee;
  border: 1px solid #000;
  border-radius: 5px;
  color: black;
  height: 100%;
  font-size: 125%;
  font-weight: 300;
  opacity: 0.9;
  width: 120px;
}

.hidden {
  display: none;
}

.forms {
  position: absolute;
  right: 100px;
  width: 200px;
  z-index: 1000;
}

.form {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

.form input {
  border: 1px solid #757c7c;
  margin: 2px 0;
}

.form .submit {
  background-color: #eee;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 75px;
  width: 75px;
}

.footer-block {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #eee;
  border-radius: 5px 5px 0 0;
  bottom: 0px;
  height: 20px;
  left: 0px;
  margin-top: 20px;
  position: fixed;
  width: 100%;
}

.footer-text {
  margin: 0 5px 10px;
  text-align: center;
}

.bar-left {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  border: 1px solid #eee;
  height: 75vh;
}

#side-button-container {
  left: 0;
  width: 100%;
}

#side-button-container .side-button {
  background-color: #eee;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 125%;
  font-weight: 300;
  line-height: 110%;
  width: 50px;
  height: 50px;
}
