  header {
    height: 15%;
  }

  nav.nav-bar {
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #eee;
    border-radius: 5px;
    height: 85%;
    margin: 10px 0 20px 0;
    padding-left: 10px;
    top: 0px;
    left: 0px;
  }

  .logo-text {
    height: 100%;
  }

  .email {
    width: 175px;
  }

  .form {
    float: right;
    margin: 5px;
  }

  .forms {
    flex: 1;
  }

  .password {
    width: 125px;
  }

  .title {
    flex: 0 0 40%;
  }

  .username {
    width: 125px;
  }



